<div class="mt-5 w-75">
  <h1 class=""> <img src="/assets/user.png"></img>RECOVERY PASSWORD</h1>
  <h5 class="mb-5" style="color:#58E1FF">Điển email khôi phục mật khẩu.</h5>
  <form method="post" action="/recovery">
          <div class="form-group">
              <input required class="form-control" type="email" placeholder="Nhập Email khôi phục" id="email" name="email">
          </div>
          <div class="form-group">
            <button style="background-color:#58E1FF; border:none; border-radius:10px" class="btn btn-success mr-2">Gửi mã xác thực</button>
        </div>
    </form>
</div>

